input,
textarea {
    border: 0;
}
textarea {
    width: 100%;
    display: block;
    resize: none;
    white-space: initial;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}
button {
    border: 0;
    background: none;
    padding: 0;
}
